# 作業1
* 建立 DB 及 Collection (名稱自訂)，使用 Python 取得連線。

# 作業2
* 使用 Python 操作 Mongo 中的資料。

In [67]:
# Connect the mongo server
from pymongo import MongoClient
client = MongoClient(host='127.0.0.1', port=27017)

In [89]:
#use or create db  and  select collections
db = client["demodb"]
collections = db["table1"]

In [90]:
#insert 
mydata_list = [{"name" : "Kevin", "email" : "test@abc.com", "phone": "0912345671"}, {"name" : "Cathy", "email" : "test2@abc.com", "phone": "0912345672"}, {"name" : "David", "email" : "test3@abc.com", "phone": "0912345673"}]
result = collections.insert_many(mydata_list)
print(result.inserted_ids)

[ObjectId('5fd7847d276752326c79976a'), ObjectId('5fd7847d276752326c79976b'), ObjectId('5fd7847d276752326c79976c')]

In [91]:
collection.count_documents({})

18

In [92]:
# My data
my_data = {"name": "Jason", "phone": '0917381313', "mail": 'jason@gmail.com'}
result = collection.insert_one(my_data)
print(result.inserted_id)

5fd7847e276752326c79976d

In [93]:
collection.count_documents({})

19

In [94]:
for x in collection.find():
  print(x)

{'_id': ObjectId('5fd77ba8276752326c799759'), 'name': 'Kevin', 'email': 'test@abc.com', 'phone': '0912345678'}
{'_id': ObjectId('5fd77ba8276752326c79975a'), 'name': 'Deven', 'email': 'test@abc.com', 'phone': '0912345678'}
{'_id': ObjectId('5fd77ba8276752326c79975b'), 'name': 'Jay', 'email': 'test@abc.com', 'phone': '0912345678'}
{'_id': ObjectId('5fd77bd3276752326c79975d'), 'name': 'Jason', 'phone': '0917381313', 'mail': 'jason@gmail.com'}
{'_id': ObjectId('5fd7812c276752326c79975f'), 'name': 'Kevin', 'email': 'test@abc.com', 'phone': '0912345678'}
{'_id': ObjectId('5fd7812c276752326c799760'), 'name': 'Deven', 'email': 'test@abc.com', 'phone': '0912345678'}
{'_id': ObjectId('5fd7812c276752326c799761'), 'name': 'Jay', 'email': 'test@abc.com', 'phone': '0912345678'}
{'_id': ObjectId('5fd781af276752326c799762'), 'name': 'Kevin', 'email': 'test@abc.com', 'phone': '0912345671'}
{'_id': ObjectId('5fd781af276752326c799763'), 'name': 'Cathy', 'email': 'test2@abc.com', 'phone': '0912345672'}
{'_id': ObjectId('5fd781af276752326c799764'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673'}
{'_id': ObjectId('5fd7822e276752326c799765'), 'name': 'Jason', 'phone': '0917381313', 'mail': 'jason@gmail.com'}
{'_id': ObjectId('5fd78322276752326c799766'), 'name': 'Jason', 'phone': '0917381313', 'mail': 'jason@gmail.com'}
{'_id': ObjectId('5fd78325276752326c799767'), 'name': 'Jason', 'phone': '0917381313', 'mail': 'jason@gmail.com'}
{'_id': ObjectId('5fd78338276752326c799768'), 'name': 'Jason', 'phone': '0917381313', 'mail': 'jason@gmail.com'}
{'_id': ObjectId('5fd78359276752326c799769'), 'name': 'Jason', 'phone': '0917381313', 'mail': 'jason@gmail.com'}
{'_id': ObjectId('5fd7847d276752326c79976a'), 'name': 'Kevin', 'email': 'test@abc.com', 'phone': '0912345671'}
{'_id': ObjectId('5fd7847d276752326c79976b'), 'name': 'Cathy', 'email': 'test2@abc.com', 'phone': '0912345672'}
{'_id': ObjectId('5fd7847d276752326c79976c'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673'}
{'_id': ObjectId('5fd7847e276752326c79976d'), 'name': 'Jason', 'phone': '0917381313', 'mail': 'jason@gmail.com'}

In [100]:
collection = db["table1"]
collection.count_documents({})

19

In [101]:
dblist = client.list_database_names()
dblist

['Member',
 'admin',
 'config',
 'demodb',
 'iot',
 'local',
 'mydatabase',
 'newdb',
 'test']

In [105]:
mydb = client["demodb"]
collist = mydb. list_collection_names()
collist

['test', 'table', 'table1']

In [106]:
from pymongo import MongoClient
client = MongoClient(host='localhost', port=27017)
db = client["mydatabase"]
collections = db["test"]
mydata_list = [{"name" : "Kevin", "email" : "test@abc.com", "phone": "0912345678"}, {"name" : "Deven", "email" : "test@abc.com", "phone": "0912345678"}, {"name" : "Jay", "email" : "test@abc.com", "phone": "0912345678"}]
result = collections.insert_many(mydata_list)
print(result.inserted_ids)

[ObjectId('5fd78685276752326c799773'), ObjectId('5fd78685276752326c799774'), ObjectId('5fd78685276752326c799775')]

In [110]:
db = client["demo"]
db. list_collection_names()
collection = db["students"]

In [115]:
collection.insert_one({"id":1,"name":"Binod Suman","country":"IN"})

{'_id': ObjectId('5fd78774276752326c799776'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}

In [117]:
collection.count_documents({})

1

In [118]:
collection.find_one()

{'_id': ObjectId('5fd78774276752326c799776'),
 'id': 1,
 'name': 'Binod Suman',
 'country': 'IN'}

In [119]:
studentlist = [
  { "id":1,"name":"Binod Suman","country":"IN"},
  { "id":2,"name":"Bill Gates","country":"US"},
  { "id":3,"name":"Steve Jobs","country":"US"},
  { "id":4,"name":"Narayan Murthy","country":"IN"},
  { "id":5,"name":"Azim Premji","country":"IN"},
  { "id":6,"name":"Nandan Nilekani","country":"IN"},
  { "id":7,"name":"sundar pichai","country":"IN"}
]
collection.insert_many(studentlist)

collection.count_documents({})

8

In [122]:
# Display all records
for x in collection.find():
  print(x)

{'_id': ObjectId('5fd78774276752326c799776'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799777'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799778'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('5fd787ed276752326c799779'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5fd787ed276752326c79977a'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977b'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977c'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977d'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [123]:
# Display limited documents
for student in collection.find().limit(2):
  print(student)

{'_id': ObjectId('5fd78774276752326c799776'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799777'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}

In [124]:

# Show only name and country details
for student in collection.find({},{"_id": 0,"name": 1,"country": 1}):
  print(student)

{'name': 'Binod Suman', 'country': 'IN'}
{'name': 'Binod Suman', 'country': 'IN'}
{'name': 'Bill Gates', 'country': 'US'}
{'name': 'Steve Jobs', 'country': 'US'}
{'name': 'Narayan Murthy', 'country': 'IN'}
{'name': 'Azim Premji', 'country': 'IN'}
{'name': 'Nandan Nilekani', 'country': 'IN'}
{'name': 'sundar pichai', 'country': 'IN'}

In [125]:
# Get all record country is IN
for student in collection.find({"country":"IN"}):
  print(student)

{'_id': ObjectId('5fd78774276752326c799776'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799777'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977a'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977b'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977c'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977d'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [126]:
# Get all record id is more than 2
for student in collection.find({"id":{"$gt": 2}}):
  print(student)

{'_id': ObjectId('5fd787ed276752326c799779'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5fd787ed276752326c79977a'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977b'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977c'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977d'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [127]:
# Get all record name start with "B"
for student in collection.find({"name":{"$regex": "^B"}}):
  print(student)

{'_id': ObjectId('5fd78774276752326c799776'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799777'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799778'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}

In [128]:
# Sort on name field
# Display all records
for student in collection.find().sort("name"):
  print(student)

{'_id': ObjectId('5fd787ed276752326c79977b'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799778'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('5fd78774276752326c799776'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799777'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977c'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c79977a'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5fd787ed276752326c799779'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5fd787ed276752326c79977d'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [130]:
#Update Many
myquery = { "country": { "$regex": "^IN" } }
newvalues = { "$set": { "country": "IND" } }

result = collection.update_many(myquery, newvalues)

print(result.modified_count, "documents updated.")

6 documents updated.

In [131]:
for student in collection.find().sort("name"):
  print(student)

{'_id': ObjectId('5fd787ed276752326c79977b'), 'id': 5, 'name': 'Azim Premji', 'country': 'IND'}
{'_id': ObjectId('5fd787ed276752326c799778'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('5fd78774276752326c799776'), 'id': 1, 'name': 'Binod Suman', 'country': 'IND'}
{'_id': ObjectId('5fd787ed276752326c799777'), 'id': 1, 'name': 'Binod Suman', 'country': 'IND'}
{'_id': ObjectId('5fd787ed276752326c79977c'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IND'}
{'_id': ObjectId('5fd787ed276752326c79977a'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IND'}
{'_id': ObjectId('5fd787ed276752326c799779'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5fd787ed276752326c79977d'), 'id': 7, 'name': 'sundar pichai', 'country': 'IND'}